body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  background: #007bff;
  color: white;
  border: none;
}